<!DOCTYPE html>
<html lang="en">

<head>
    <%- partial('head') -%>
</head>

<body class="admin-dashBoard-page">
    <%- partial('navbar-admin') -%>
    <%- body -%>;
    <%- partial('footer') -%>
    <%- partial('login-modal') -%>
    <%- partial('js-repo-admin-dashBoard') -%>
</body>

</html>