
<%- layout('layout') -%>

<div class="main main-raised">
    <div class="container fist-container" id="container-token-info">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">YOUR TOKEN INFOMATION</h2>
                    <h5 class="description">After check your balance of the token, if there is a problem contact to us</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-10 ml-auto mr-auto">
                    <div class="features profile-viewer">                       
                        <div class="card">
                            <div class="profile-card">
                                <div class="table-responsive">
                                    <table class="table table-hover text-left">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row"><h4>ID</h4></th>
                                                <td><h4><%= user.email %></h4></td>
                                            </tr>                                                 
                                            <tr>
                                                <th scope="row"><h4>Your referral address</h4></th>
                                                <td><h4><%= user.referral %></h4></td>
                                            </tr>  
                                            <tr>
                                                <th scope="row"><h4>Your wallet address</h4></th>
                                                <td><h4><%= user.walletAddr %></h4></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><h4>LCC token you received</h4></th>
                                                <td><h4><%= receivedToken %> LCC</h4></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><h4>Etherium you sent to buy token</h4></th>
                                                <td><h4><%= sentEth %> ETH</h4></td>
                                            </tr>      
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 ml-auto mr-auto">
                    <div class="features profile-viewer-sm">                       
                        <div class="card">
                            <div class="profile-card">
                                <div class="table-responsive">
                                    <table class="table table-hover text-left">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row"># ID</th>
                                            </tr>
                                            <tr>
                                                <td><%= user.email %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"># Your referral address</th>
                                            </tr>
                                                <td><%= user.referral %></td>
                                            </tr>   
                                            <tr>
                                                <th scope="row"># Your wallet address</th>
                                            </tr>
                                                <td class="wallet-addr-sm"><%= user.walletAddr %></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"># LCC token you received</th>
                                            </tr>
                                                <td><%= receivedToken %> LCC</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"># Etherium you sent to buy token</th>
                                            </tr>
                                                <td><%= sentEth %> ETH</td>
                                            </tr>       
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised" id="container-transaction-history">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">History of Transaction</h2>
                    <h5 class="description">You can check transaction history of your wallet.</h5>
                </div>
            </div>
            <div class="features profile-viewer">
                <div class="row">
                    <div class="col-11 ml-auto mr-auto">
                        <div class="table-responsive">
                            <table class="table table-hover text-left">
                                <thead>
                                </thead>
                                <tbody>
                                    <% if (txList.length != 0) {  
                                        for (var i=0, len = txList.length; i < len; i++) {
                                            if ((txList[i].from.toLowerCase() == user.walletAddr.toLowerCase()) && (txList[i].to.toLowerCase() == icoAddr.toLowerCase()) ) { %>
                                    <tr>
                                        <td> <a href="https://ropsten.etherscan.io/tx/<%= txList[i].hash %>" target="_blank"> TXID : <%= txList[i].hash %></a></td>
                                    </tr>
                                    <tr>
                                        <td><%= txList[i].timeStamp %> : You sent <%= txList[i].value / Math.pow(10, 18) %> ETH</td>
                                    </tr>
                                        <% }
                                        } 
                                    } %>
                                    <% if (tokenTxList.length != 0) {
                                        for (var i=0, len = tokenTxList.length; i < len; i++) { 
                                            if ((tokenTxList[i].from.toLowerCase() == icoAddr.toLowerCase()) && (tokenTxList[i].to.toLowerCase() == user.walletAddr.toLowerCase()) ) { %>
                                    <tr>
                                        <td> <%= tokenTxList[i].timeStamp %> : You receviced <%= tokenTxList[i].value / Math.pow(10, 18) %> LCC</td>
                                    </tr>
                                    <tr>
                                        <td> <a href="https://ropsten.etherscan.io/tx/<%= tokenTxList[i].hash %>" target="_blank"> TXID : <%= tokenTxList[i].hash %></a></td>   
                                    </tr>
                                        <% }
                                        } 
                                    } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
